[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
gensim = "*"
torch = "*"
transformers = "*"
happytransformer = "*"
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-bootstrap = "*"
config = "*"

[dev-packages]

[requires]
python_version = "3.7"
