
<p>{{form.inputWord.data}} - {{inputWordPhones}}</p>
<table id="result_table" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Matches</th>
            <th scope="col">IPA</th>
            {% if form.outputLang.data == 'en' %}
                <th scope="col">Sentences</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if wordMatches %}
            {% for words in wordMatches %}
            <tr class='clickable-row'>
                <th scope="row">{{ (wordMatches.index(words)+1) }}</th>
                <td>{{words}}</td>
                <td>{{ phoneMatches[wordMatches.index(words)] }}</td>
                {% if form.outputLang.data == 'en' %}
                    <td>{{ sentences[wordMatches.index(words)] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>